.list {
    box-sizing: border-box;
    width: 100%;
    font-size: 14px;
    line-height: 1;
    border-collapse: separate;
    border-spacing: 1px;
    cursor: pointer;
    user-select: none;
    // -o-user-select:none;
    // -moz-user-select: none;
    // -khtml-user-select: none;
    -webkit-user-select: none;
    color: #444;

    tr {
        th, td {
            padding: 2px 2px;
        }

        th {
            text-align: left;
            font-weight: normal;
            background-color: #eee;
        }

        &.-selected {
            color: red;
        }

        td {
            &._name {
                &:before {
                    // content: '\f016';
                    content: '\f15b';
                    color: #8ca3ec;
                    font-family: 'FontAwesome';
                    padding-right: .33em;
                }
            }
        }

        &.-directory {
            > ._name {
                &:before {
                    // content: '\f114';
                    content: '\f07b';
                    color: #fbcc6f;
                }
            }
            &.-directory-up {
                > ._name {
                    &:before {
                        content: '\f062';
                        color: #878787;
                    }
                }
            }
            > ._size {
                &:before {
                    content: '<DIR>';
                }
            }
        }

        &.-forbidden {
            > ._name {
                &:after {
                    content: '\f05e';
                    color: red;
                    font-family: 'FontAwesome';
                    padding-left: .33em;
                }
            }
        }
    }

    // &.-focused {
    //  tr.-cursor {
    //         background: #ffe;
    //  }
    // }
}